mat-form-field.full-width {
  width: 100%;
}

mat-form-field.mat-mdc-form-field {
  --mdc-outlined-text-field-caret-color: #2b67ff;
}

mat-radio-button .mdc-form-field {
  font-size: 15px;
}

mat-checkbox .mdc-form-field {
  font-size: 15px;
}
