<!-- TEXT / NUMBER -->
@if (question().type === 'text' || question().type === 'number') {
  <mat-form-field appearance="outline" class="full-width">
    <!-- <mat-label>{{ question().question }}</mat-label> -->
    <input
      matInput
      [type]="question().type"
      [placeholder]="question().placeholder!"
      (input)="onTextChange($any($event.target).value)" />
  </mat-form-field>
}


<!-- RADIO -->
@if (question().type === 'radio') {
  <!-- <p class="question">{{ question().question }}</p> -->

  <mat-radio-group
    (change)="onRadioChange($event.value)">
    @for (opt of question().options; track opt) {
      <mat-radio-button [value]="opt">
        {{ opt }}
      </mat-radio-button>
    }
  </mat-radio-group>
}



<!-- CHECKBOX -->
@if (question().type === 'checkbox') {
  <!-- <p class="question">{{ question().question }}</p> -->

  @for (opt of question().options; track opt) {
    <mat-checkbox
      (change)="onCheckboxChange(opt, $event.checked)">
      {{ opt }}
    </mat-checkbox>
  }
}

