.container {
  display: grid;
  height: 100vh;
  grid-template-columns: auto 1fr;
  gap: 0;

  .sidenav-section {
    height: 100%;
    overflow-y: auto;
    background: transparent;
  }

  .sidenav-content {
    height: 100%;
    overflow-y: auto;
    background: transparent;
  }
}